{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-lg-center">
                <h3>Welcome to Sloth Invoices!</h3><br>
                <h4>Free open source invoice management system!</h4>
                <h5><strong><a href="{{ path('fos_user_security_login') }}">Log in</a></strong> or
                    <strong><a href="{{ path('fos_user_registration_register') }}">Register</a></strong></h5>
            </div>
        </div>
    </div>
{% endblock %}