{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-lg-center text-xl-left">
                <h1>Terms and conditions</h1>
                <p>&nbsp;</p>
                <h3>Disclaimers</h3>
                Use of this services is at your sole risk, it's provided on an "as is" and "as available" basis. This service expressly disclaims all warranties of any kind, whether express, implied, or statutory, including implied warranties of title, noninfringement, merchantability, and fitness for a particular purpose.

                This service makes no warranty that it will will meet your requirements, operate in an uninterrupted, timely, secure, or error-free manner, or that errors in npm Services will be corrected.

                This service may provide information that is inaccurate, incomplete, misleading, illegal, offensive, or otherwise harmful.

                <p>&nbsp;</p>
                <h3>Limits on Liability</h3>
                Neither this service nor any third-party service provider used by this service, under any circumstances, be liable to you for any indirect, incidental, consequential, special, or exemplary damages related to your use of This service or this Agreement, whether based on breach of contract, breach of warranty, tort (including negligence, product liability, or otherwise), or any other pecuniary loss, and whether or not this service has been advised of the possibility of such damages.
            </div>
        </div>
    </div>
{% endblock %}